/* Theme Variables (light on dark) */
:root {
    --gap: 1.5rem;
    --background-color: #1e1e1e;
    --color: #ccc;

    --brand-color: #bbb;

    --site-header-background-color: #252526;
    --site-header-separator-color: #555;

    --image-filter: grayscale(50%);

    --post-h1-background-color: #000;
    --post-meta-background-color: #036;
    --post-meta-color: #fff;
    --post-meta-a-color: #ffccb3;

    --alert-tip-background: #021d09;
    --alert-tip-border: #054b16;
    --alert-note-background: #1e172c;
    --alert-note-border: #3b2e58;
    --alert-important-background: #012038;
    --alert-important-border: #004173;
    --alert-caution-background: #2b0101;
    --alert-caution-border: #630001;
    --alert-warning-background: #2e210a;
    --alert-warning-border: #6a4b16;

    --code-background: #6e768166;
}

/* Anchors (because dark mode anchors look bad on IOS) */
a {
    &:link {
        color: #38a7f1;
    }
    &:visited {
        color: #953377;
    }
    &:hover {
        color: #38a7f1;
    }
    &:active {
        color: #38a7f1;
    }
}

/* Fix for Disqus - credit to https: //sergeyski.com/css-color-scheme-and-iframes-lessons-learned-from-disqus-background-bug/ */
iframe[src*="disqus.com"] {
    color-scheme: light;
}

/* Syntax */
@import "./syntax-dracula";
