/* Theme Variables (light on dark) */
:root {
    --background-color: #1e1e1e;
    --color: #ccc;

    --brand-color: #bbb;

    --site-header-background-color: #252526;
    --site-header-separator-color: #555;

    --image-filter: grayscale(50%);

    --post-h1-background-color: #000;
    --post-meta-background-color: #036;
    --post-meta-color: #fff;
    --post-meta-a-color: #ffccb3;
}

/* Syntax */
@import "./syntax-monokai";

/* Anchors (because dark mode anchors look bad on IOS) */
a {
    &:link {
        color: #38a7f1;
    }
    &:visited {
        color: #953377;
    }
    &:hover {
        color: #38a7f1;
    }
    &:active {
        color: #38a7f1;
    }
}
