---
layout: default
title: JonTheNerd
---
<div class="container">
<div class="row">
    <div class="col-lg-12">
        
            <!-- Paginated Posts -->
            {% for post in paginator.posts %}
        
                <article>
                    <h2 class="post-heading">
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="post-meta">
                        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
                    </p>
                    {% if post.excerpt %}
                        <div class="post-excerpt">
                            {{ post.excerpt }}
                        </div>
                    {% endif %}
                    <a class="btn btn-sm btn-primary" href="{{ post.url }}">Read More &gt;</a>
                </article>
        
            {% endfor %}
        

            <!-- Pagination links -->
            <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
                <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
                <span class="next ">Next</span>
            {% endif %}
            </div>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
    
</div>
</div>