---
layout: page
title: Categories
includeInQuickLaunch: false
permalink: /categories/
---
{% assign site_categories = site.cats  %}
{% assign site_categories = site_categories | sort: "title-lower" %}


     <div class="category-display alpha-grouped">
    {% assign curGroupLetter = "" %}
    <table>
        <tr>
{% for category in site_categories %}{% assign curFirstLetter = category.title-upper | slice: 0 %}{% if curFirstLetter != curGroupLetter and curGroupLetter != "" %}</td></tr>{% endif %}{% if curFirstLetter != curGroupLetter %}{% assign curGroupLetter = curFirstLetter %}<tr><td>{{ curGroupLetter}}</td>
<td>
{% else %}, {% endif %}<a href="#{{ category.title }}">{{ category.title }} ({{ category.post-count }})</a>{% endfor %}
    </td>
    </tr>
    </table>
    </div>


{% for site_category in site_categories %}

    <h2 id="{{ site_category.title }}">{{ site_category.title }}</h2>
    {% assign posts = site.posts | sort: "date" | reverse %}
    <table class="table">{% for post in posts %}{% if post.categories contains site_category.title %}<tr>
                <td style="width: 10em;">{{ post.date | date: "%b %-d, %Y" }}</td>
                <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            </tr>
        {% endif %}{% endfor %}</table>

    <hr />
{% endfor %}
