{% assign site_categories = site.cats  %}
{% assign site_categories = site_categories | sort: "title-lower" %}
<!--
<ul>
{% for category in site_categories %}
    <li><a href="{{ category.url }}">{{ category.title }} ({{ category.post-count }})</a></li>
{% endfor %}
</ul>
-->

{% if include.mode == "Alpha-Grouped" %}
    <div class="category-display alpha-grouped">
    {% assign curGroupLetter = "" %}
    <table>
        <tr>
{% for category in site_categories %}{% assign curFirstLetter = category.title-upper | slice: 0 %}{% if curFirstLetter != curGroupLetter and curGroupLetter != "" %}</td></tr>{% endif %}{% if curFirstLetter != curGroupLetter %}{% assign curGroupLetter = curFirstLetter %}<tr><td>{{ curGroupLetter}}</td>
<td>
{% else %}, {% endif %}<a href="{{ category.url }}">{{ category.title }} ({{ category.post-count }})</a>{% endfor %}
    </td>
    </tr>
    </table>
    </div>
{% endif %}