$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .wrapper {
        margin-left: 1em;
        margin-right: 1em;
    }
    
} 

.site-title {
    pre {
        font-size: 10px;
        letter-spacing: 1px;
    }
    float: left;
    
    #{$a-tags} {
    color: rgb(212, 212, 212);
    text-decoration: none;
    }
    #{$a-tags-hover} {
        color: rgb(212, 212, 212);
    }
}
@media (max-width: 320px) {
    .site-title pre {
        font-size: 8px;
    }
}