<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        <meta name="description" content="{{ if .Summary }}{{ .Summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}" />
        <meta name="color-scheme" content="dark light" />
        <script>
            {{/*
                https://web.dev/prefers-color-scheme/
                If `prefers-color-scheme` is not supported, fall back to light mode.
                In this case, light.css will be downloaded with `highest` priority.
            */}}
            if (window.matchMedia("(prefers-color-scheme: dark)").media ==="not all") {
                document.documentElement.style.display = "none";
                document.head.insertAdjacentHTML(
                    "beforeend",
                    '<link rel="stylesheet" href="/assets/light.css" onload="document.documentElement.style.display = \'\'">'
                );
            }
        </script>
        <link rel="stylesheet" media="(prefers-color-scheme: light)" href="/assets/light.css" />
        <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/assets/dark.css" />
        <link rel="stylesheet" href="/assets/style.css" />
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
        {{ end }}
        <script src="/assets/scripts/main.js" defer></script>
        <link rel="canonical" href="{{ .Permalink | absURL }}">
    </head>
    <body>
        {{ partial "site-header.html" . }}
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
        {{ block "footer" . }}
        {{ end }}
        {{ partial "site-footer" . }}
    </body>
</html>
