{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">
            <div class="container">{{ .Title }}</div>
        </h1>
        <div class="post-meta">
            <div class="container">
                <time datetime="{{ .Date | time.Format " 2006-01-02" }}" itemprop="datePublished">{{ .Date | time.Format
                    ":date_long"
                    }}</time>
                {{ if .Params.categories }}
                | Posted in
                {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a
                    href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
                {{ end }}
                {{ if .Params.tags }}
                | Tagged with
                {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a
                    href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}
                {{ end }}
            </div>
        </div>
    </header>
    <div itemprop="articleBody">
        <div class="container">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}



{{ define "footer" -}}
{{ partial "comments.html" . }}
{{ end }}
